BCRYPT_COST=12
JWT_SECRET=cambia_esto_en_produccion
JWT_EXPIRES_SEC=3600
USERS_SOURCE=local

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=practico_final

FRONTEND_URL=http://localhost:4200

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_app_password
SMTP_FROM=tu_email@gmail.com
