<div class="row justify-content-center mt-5">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <div class="text-center mb-4">
          <h3 class="mt-2 fw-bold">Cambiar contraseña</h3>
        </div>
        <div class="mb-4" *ngIf="!exito">
            <form (ngSubmit)="cambiarContrasena()">
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" [(ngModel)]="nuevaClave" name="nuevaClave" class="form-control" placeholder="Nueva contraseña (mín 8 chars)" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" [(ngModel)]="confirmarClave" name="confirmarClave" class="form-control" placeholder="Confirmar contraseña" required>
                </div>
                <p *ngIf="errorMismatch" style="color: red;">Las contraseñas no coinciden</p>
                <button type="submit" class="btn btn-primary w-100">Cambiar Contraseña</button>
            </form>
        </div>
        <div *ngIf="exito">
            <p>¡Contraseña actualizada con éxito!</p>
            <a routerLink="/login" class="btn btn-primary w-100">Ir al Login</a>
        </div>
      </div>
    </div>
  </div>
